/*header*/

#header-nav{
    border:2px black solid;
    padding-bottom: 0;
    border-radius: 0;
    background-color: gray;
}
#nav-bar-tile{
    font-weight: bold;
    font-size: 25px;
    color: black;
}
.icon-bar ,#button{
    border: black 2px solid;
}

#nav-list a{
    color: black;
    border: black 1px solid;
}
#nav-list li{
    background-color: white;
}
#nav-list li:hover{
    background-color: lightgray;
}
#nav-list{
    margin-bottom: 0;;
}
h1{
    margin-bottom: 30px;
}
#main-content{
    margin-bottom: 60px;
}
.menu-title{
    font-weight: bold;
    color: #000000;
    margin: 10px;
}
.dishes{
    background-color: gray;
    color: black;
    font-size: 16px;
}
@media(min-width:992px){
    .dishes{
        width:32%;
        height: 670px;
        margin-right: 1.3%;
        margin-left: 0;
    }
}
@media(max-width:991px)and (min-width:768px){
    .dishes{
        width:46%;
        height: 600px;
        margin: 10px 2%;
    }
    .dishes:nth-of-type(3){
        width:96%;
        padding-bottom: 10px;
    }
}
@media(max-width:776px){
    .dishes{
        margin-bottom: 20px ;
        padding-bottom: 10px;
    }
}
a,a:focus{
    color: lightblue;
}
